<%- contentFor('main')%>
<table id="sourceTable">
    <tr>
        <th>Naam</th>
        <th>Versie</th>
        <th>Link</th>
    </tr>
   

</table>

<%- contentFor('scripts')%>
<script src="./js/sources.js" defer></script>

<%- contentFor('title')%>
<title>Open Sources</title>

<%- contentFor('css') %>
<link rel="stylesheet" href="./css/sources.css">
<%- contentFor('header') %>
<div class="buttons">
    <button class="a-button-negative" onclick="location.href='/'">Homepage</button>
    <button class="a-button-negative" onclick="location.href='/locaties'">Locaties</button>
    <button class="a-button-negative" onclick="location.href='/contact'">Contact</button>
    <button class="a-button-negative" onclick="location.href='/favorieten'">Favorieten</button></div>
